Makefile.in
Makefile
*.o
*.lo
*.loT
*.la
.*.swp
*.stamp
*.gir
*.lineno
.deps
.libs
.dirstamp

config.*
aclocal.m4
autom4te.cache
configure
depcomp
libtool
install-sh
missing
ltmain.sh
ylwrap
compile
stamp-h1

aclocal-copy
arm-*-linux-gnueabi-libtool

tests/test_egl
tests/test_glesv2
tests/test_lights
tests/test_offscreen_rendering
tests/test_sensors
tests/test_ui
